.navBarContainer {
    background-color: grey;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
}

.itemNavBar {
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.itemNavBar:hover {
    background: lightgrey;
}

.selected {
    background-color: lightsalmon;
}